@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,600;1,700&display=swap");

/* GLOBAL STYLING */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #d5e1ef;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section > h2 {
  font-size: 2rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

audio {
  width: 90%;
}

/* BANNER */

.sr-logo {
  margin: 1%;
  width: 40%;
}

.banner {
  display: flex;
  flex-direction: column;
  background: #aab4bf;
  box-shadow: 17px 17px 33px #aab4bf, -17px -17px 33px #ffffff;
  width: 100%;
}

/* TEMPERATURE */

#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

.weather-temp,
.weather-suns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-betweens;
}

.weather-temp p,
.weather-suns p {
  margin: 0px 5px;
}
/* NEWS CARDS */


/* RADIO CARDS */

#channel-list,
#program-list,
#latest-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#channel-list,
#latest-news {
  justify-content: center;
}

#program-list {
  justify-content: space-evenly;
}

.news-image {
  /* height: 100%; */
  width: 100%;
  height: 40%;
  border-radius: 20px 20px 0 0;
}

.news-card-content {
  padding: 2rem;
}

.radio-card,
.news-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin: 2%;
  width: 90%;
  height: 70%;
  align-items: center;
  background: #d5e1ef;
  box-shadow: 17px 17px 33px #aab4bf, -17px -17px 33px #ffffff;
  font-weight: 300;
  font-size: 0.9rem;
}

.news-card:hover,
.radio-card:hover,
.program-card:hover {
  box-shadow: inset 17px 17px 33px #aab4bf, -17px -17px 33px #ffffff;
}

.card-image {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0 0;
}

.card-discription {
  margin: 1rem;
  white-space: wrap;
}

.card-player {
  background: #d5e1ef;
  border-radius: 2rem;
  box-shadow: 17px 17px 33px #918f8f, -17px -17px 33px #aab4bf;
  margin-bottom: 2rem;
}

/* PROGRAMS CARDS */

.programs-container {
  background: #cbd7e4;
  margin-top: 6%;
}

.program-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background: #d5e1ef;
  box-shadow: 17px 17px 33px #aab4bf, -17px -17px 33px #ffffff;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 3%;
  border-radius: 20px;
}

.program-card-image {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0 0px;
}

.program-card-details {
  padding: 0 2rem;
  text-align: center;
}

/* SCHEDULES */

#schedule-channels {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-link,
.icon-image {
  width: 6rem;
  height: 6rem;
  margin: 1.5rem;
  padding: .5rem;
  border-radius: 2rem;
}

.icon-link {
  box-shadow: 17px 17px 33px #918f8f, -17px -17px 33px #aab4bf;
}

.icon-link:hover {
  box-shadow: inset 17px 17px 33px #918f8f, -17px -17px 33px #aab4bf;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  a {
    width: 35rem;
  }

  .banner{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .news-card{
    width: 20rem;
    height: 35rem;

  }
  .radio-card {
    width: 20rem;
    height: 30rem;
  }

  .program-card {
    width: 35rem;
    height: 15rem;
    flex-direction: row;
  }

  .program-card-image {
    width: 15rem;
    height: 15rem;
    border-radius: 20px 0 0 20px;
  }

  .program-card-details {
    width: 50%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon-link,
  .icon-image {
    width: 13rem;
    height: 13rem;
    margin: 3rem;
    padding: 2rem;
    border-radius: 3rem;
  }

  .icon-link {
    box-shadow: 17px 17px 33px #918f8f, -17px -17px 33px #aab4bf;
  }

  .icon-link:hover {
    box-shadow: inset 17px 17px 33px #918f8f, -17px -17px 33px #aab4bf;
  }
}
